*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 3%;
    background: black;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: pink;
    text-shadow: 0 0 25px rgb(225, 215, 000), 0 0 50px rgb(50, 205, 50);
    transform: scale(1.1);
}
span{
    color: limegreen;
}
.navbar a{
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
    color: rgb(8, 247, 20);
    border-bottom: 3px solid rgb(120, 121, 118);
}
.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 0.6px;
    font-weight: 600;
    transition: 0.3s ease;

}
.contact:hover{
    background-color: limegreen;
    box-shadow: limegreen;
    transform: scale(1.1);
}
.home{
    width: 100%;
    min-height: 100vh;
    background-image: url(front.jpg);
    background-image:
    linear-gradient(to top, rgb(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('front.jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 500px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black; 
    transform: scale(1.1);
}
.btn-2{
    padding: 15px 28px;
    background-color: rgb(0, 255, 55);
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: #ffd700;
    transform: scale(1.1);
}
.img-box img{
    position: relative;
    box-shadow:#ffd700;
    border-radius: 70%;
    width: 550px;
    transition: 0.5s ease;
}
.img-box img:hover{
    background-color:#ffd700;
    box-shadow:#ffd700;
    transform: scale(1.1);
    border-radius: 50%;
}

.service-section{
    min-height: 850px;
    width: 100%;
    background: rgb(190, 187, 187);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.service-section h2{
    color: black;
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
}

.service-section #paragraph{
    width: 80%;
    font-size: 25px;
    color: rgb(26, 6, 6);
    text-align: center;
    line-height: 1.5rem;
    white-space: 1px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    z-index: 9;
    margin-top: 20px;
}
.cards .card{
    height: 430px;
    width: 450px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 8%;
    color: black;
    position: relative;
    border-radius: 10px;
    margin: 10px;
}
.cards .card::before{
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: #ffd700;
    transform: rotate(0deg);
    transition: 0.3s ease;
    z-index: -1;
}
.cards .card:hover.card::before{
    transform: rotate(5deg);
}
::-webkit-scrollbar{
    width: 15px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about-img img{
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px rgb(232, 82, 107), 0 0 50px rgb(232, 82, 107);
    border-radius: 50%;
    transition: 0.3s ease;
}
.about-img img:hover{
    background-color: rgb(232, 82, 107);
    box-shadow: 0 0 25px rgb(232, 82, 107), 0 0 50px rgb(232, 82, 107);
    transform: scale(1.1);
    border-radius: 50%;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}
.reg.num {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    font-size: 30px;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form .input-box input,

.Address h7{
    text-align: center;
    margin-top: 9em;
    margin-bottom: 1em;
    font-size: 36px;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid rgb(232, 82, 107);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}